<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>ETHR</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/ethr.js"></script>
</head>

<body>
    <!-- ========================================================================================================= -->
    <div id="box-shadow">
        <div id="navbar">
            <div class="login-bar">
                <a class="sign-link" href="/register">
                    Sign-Up
                </a>
                <i class="fas fa-gamepad icon"></i>
                <a class="login-link" href="/signin">
                    Login
                </a>
            </div>
            <div id="grid-container">
                <div class="home_logo">
                    <a href="/">
                        <img id="home_btn" src="/img/logo.png" alt="Logo" />
                    </a>
                </div>
                <div class="grid-item">
                    <form class="search-form" action="#">
                        <input id="search_bar" type="text" placeholder="Search">
                        <button id="search_btn" type="submit">
                            <i id="btn-icon" class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <div id="all-links">
                    <a class="nav-link" href="/">Home</a>
                    {{!-- <a class="nav-link link-border" href="#">Link 2</a>
                    <a class="nav-link link-border" href="#">Link 3</a>
                    <a class="nav-link link-border" href="#">Link 4</a> --}}
                    <a class="nav-link link-border" id = 'profile'>Profile</a>
                </div>
            </div>
        </div>

    {{{body}}}

</body>

</html>