<link rel="stylesheet" href="../css/register.css" type="text/css" />
<div id="register-box">
    <form id="register-form">
        <legend id="come-register">Register User</legend>
        <br>
        <div class="divider">
            <label class="pads" for="screen_name">Username :</label>
            <input class="input-box" type="text" id="screenName" name="screen_name" required placeholder="Username *" />
        </div>
        <br>
        <div class="divider">
            <label class="pads" for="image">Profile Photo URL :</label>
            <input class="input-box" type="text" id="image" name="image" placeholder="Optional" />
        </div>
        <br>
        <div class="divider">
            <label class="pads" for="password">Password :</label>
            <input class="input-box" type="password" id="password" name="password" minLength="8" required placeholder="8 Characters Minimum *"
            />
        </div>
        <br>
        <p id="required">* Required Fields</p>
        <input type="submit" value="Register" id="register">
    </form>
</div>