<link rel="stylesheet" href="../css/signin.css" type="text/css" />

<div id="signin-box">
    <form id="signin-form">
        <legend id="sign-in-here">Sign in</legend>
        <div class="divider top-pads">
            <label class="pads" for="screen_name">Username:</label>
            <input class="input-box" type="text" id="screen_name" name="screen_name" required placeholder="Username" />
        </div>
        <br>
        <div class="divider">
            <label class="pads" for="password">Password:</label>
            <input class="input-box" type="password" id="password" name="password" minLength="8" required placeholder="8 Characters Minimum"
            />
        </div>
        <br>
        <input type="submit" value="Sign in" id="signin">

    </form>
</div>